body {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.header, .footer {
    background-color: #75c9ad;
    color: white;
}

#header .container-fluid {
    padding: 2% 10% 7%;
}

.nav-item {
    padding: 0 18px;

}

.header-content {
    padding-top: 2rem;
    padding: 5% 10%;
}

h1 {
    font-size: 3.5rem;
}

.download-btn {
    margin: 5% 3% 5% 0;
}

.title-img {
    width: 55%;
    transform: rotate(20deg);
}

.container-fluid {
    padding: 7% 10%;
}

.features img {
    width: 70px;
}

/* testing monents */

.carousel-text {
    padding: 7% 10%;
}

.testimonials {
    padding-bottom: 3%;
    background-color: #75c9ad;
    color: white;
    font-size: 25px;
}


.accordion-button:hover {
    background-color: #75c9ad;
}

.row{
   padding: 3% 5%;
}

.option {
    padding: 3% 13%;
}

.fiq {
    padding: 5% 0;
    background-color: #75c9ad;
}

.accord {
    padding: 0 5%;
}
