* {
    padding: 0;
    margin: 0;
    box-sizing: block;
    min-width: 100px;
}

header {
    text-decoration: none;
    width: 100%;
    float: center;
    list-style: none;
    font-size: 60px;
    position: fixed;
    background-color: white;
    text-transform: uppercase;
    margin-top: -25px;
    border: 10px solid rgb(50, 52, 55);
    border-left: none;
    border-right: none;
    z-index: 1;
}

@media (max-width: 1920px) {
    .div-ul {
        font-size: calc(24px + (21 + 21 * 0.7) ((100vw - 320px) / 1920));
    }
}

.logo {
    float: left;
    text-align: left;
    /* font-size: 45px; */
    font-size: calc(24px + 21 * (100vw / 1920));
    width: 10%;
    font-family: 'Nerko One', cursive;
    color: rgb(50, 52, 55);
}

header a {
    text-decoration: none;
    float: center;
    margin-right: 2%;
    transition: all 200ms;
}
/* .number {
float: right;
font-family: 'Nerko One', cursive;
font-size: 45px;
padding-top: 20px;
padding-top: 20px;
} */

.logo {
    margin-left: -60%;
    padding-top: 1%;
    padding-right: 5%;
}

.div-ul {
    float: right;
    padding-left: 30%;
    width: 60%;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(24px + 21 * (100vw / 1920));
    padding-top: 1%;
}

.people-img {
    display: flex;
    height: 300px;
    max-width: 30%;
    margin: auto;
    width: 30%;
    margin-top: -70px;
    float: right;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    object-fit: none;
}

.people-img:hover {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.main-menu {
    background: linear-gradient(to right, rgb(255, 255, 255) 67%, rgb(52, 54, 57) 33%);
    padding-bottom: 13%;
    margin: auto;
    font-size: 20px;
    text-align: center;
    width: 100%;
    /* background-color: rgb(225, 225, 225); */
}

li {
    display: inline;
    font-size: 20px;
    padding: 20px;
    color: rgb(0, 0, 0);
}

ul {
    display: flex;
    list-style: none;
}

ul a:hover {
    background: rgb(230, 229, 229);
    padding-bottom: 21px;
}

.name-portfolio {
    font-size: 20px;
    text-align: center;
    margin-left: 60px;
    font-family: 'Secular One', sans-serif;
}

.portfolio {
    width: 50%;
    margin: auto;
    margin-left: 120px;
    padding-top: 14%;
}

.job,
.name {
    font-size: calc(10px + 21 * (100vw / 1920));
    margin-left: 80px;
    font-size: 45px;
    font-family: 'Pacifico', cursive;
    color: rgb(50, 52, 55);
}

.border-div {
    width: 100%;
    background-color: rgb(52, 54, 57);
    padding-bottom: 30px;
}

.img-about {
    float: left;
    width: 350px;
    margin-top: 50px;
    padding-left: 10%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.img-about:hover {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

@media (max-width: 1920px) {
    .img-about {
        min-width: 300px;
        width: calc(350px + (21 + 21 * 0.7) ((100vw - 320px) / 1920));
        height: calc(350px + (21 + 21 * 0.7) ((100vw - 320px) / 1920));
    }
}

.about-me1 {
    padding-bottom: 10%;
    background: linear-gradient(to left, rgb(255, 255, 255) 67%, rgb(52, 54, 57) 33%);
}

.h-about {
    padding-top: 100px;
    margin-left: 880px;
    color: rgb(52, 54, 57);
    text-transform: uppercase;
    font-family: 'Nerko One', cursive;
    font-size: 40px;
    padding-bottom: 20px;
}

.p-about {
    width: 35%;
    margin-left: 700px;
    font-size: 20px;
}

.programs1 {
    margin: auto;
    padding-bottom: 6%;
  
    background: linear-gradient(to right, rgb(255, 255, 255) 67%, rgb(52, 54, 57) 33%);
}

.h-programs {
    margin-left: 24%;
    padding: 40px;
    font-family: 'Nerko One', cursive;
    color: rgb(52, 54, 57);
    font-size: 50px;
}

.h-program1,
.h-program2 {
    width: 38%;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    margin-left: 5%;
}

.h-program1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.h-program2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.p-program1 {
    margin-left: 5%;
    width: 27%;
    font-size: 20px;
    margin-bottom: 130px;
    font-family: 'Montserrat', sans-serif;
}

.tinker {
    margin-left: 45%;
    margin-top: -14%;
    width: 15%;
    height: 200px;
    position: static;
    min-width: 10%;
    transition: all 0.4s ease;
    background-position: 100px 300px;
}

.tinker:hover {
    transform: scale(1.2);
}

.border-div3 {
    width: 100%;
    padding-bottom: 30px;
    background-color: rgb(52, 54, 57);
}

.p-program2 {
    margin-left: 5%;
    width: 27%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.border-div2 {
    width: 100%;
    background-color: rgb(52, 54, 57);
    padding-bottom: 30px;
}

.example1 {
    background: linear-gradient(to left, rgb(255, 255, 255) 67%, rgb(52, 54, 57) 33%);
    padding-bottom: 6%;
}

.h-example1 {
    padding: 40px;
    text-align: center;
    font-family: 'Nerko One', cursive;
    margin-left: 15%;
    color: rgb(50, 52, 55);
    font-size: 45px;
}

.p-example1 {
    font-size: 20px;
    color: rgb(50, 52, 55);
    width: 35%;
    margin-left: 44%;
    padding-bottom: 30px;
}

.img-example1 {
    display: flex;
    width: 440px;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-left: 45%;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.img-example1:hover {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.border-div4 {
    width: 100%;
    background-color: rgb(52, 54, 57);
    padding-bottom: 30px;
}

.projects1 {
    padding-bottom: 7%;
    background-color: rgb(255, 255, 255);
}

.my-projects {
    font-size: 50px;
    padding: 80px;
    text-align: center;
    font-family: 'Nerko One', cursive;
    color: rgb(52, 54, 57);
}

.img-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease;
}

.project1,
.project2,
.project3 {
    /* display: inline-flex;
     align-items: center; */
    /* background-size: cover; */
    max-width: 1000px !important;
    max-height: 600px;
    margin-left: 48px;
    cursor: pointer;
    padding-top: 50px;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    transition: all 0.4s ease;
}

.project1 {
    width: 80%;
    height: 350px;
}

.project2 {
    width: 80%;
    height: 330px;
}

.project3 {
    width: 80%;
    height: 350px;
}

.project1:hover {
    transform: scale(1.1);
}

.project2:hover {
    transform: scale(1.1);
}

.project3:hover {
    transform: scale(1.1);
}

.Button {
    box-shadow: inset 0px 0px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #000000 5%, #808080 100%);
    background-color: #000000;
    border-radius: 20px;
    border: 1px solid #ffffff;
    display: block;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    width: 40%;
    margin-left: 20%;
    font-family: Arial;
    font-size: 25px;
    widows: 60px;
    padding: 20px 60px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #000000;
}

.Button:hover {
    background: linear-gradient(to bottom, #808080 5%, #000000 100%);
    background-color: #808080;
}

.contacts1 {
    padding-bottom: 1%;
    background-color: rgb(52, 54, 57);
    padding-top: 20px;
}

.border-div3 {
    width: 100%;
    background-color: rgb(52, 54, 57);
    padding-bottom: 30px;
}

footer {
    z-index: -1;
    position: static;
}

.h-footer {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-left: 44%;
    color: rgb(255, 255, 255);
}

.p-footer {
    margin-left: 49%;
    margin-top: 20px;
    font-family: 'Nerko One', cursive;
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding-bottom: 40px;
}

.im1,
.im2,
.im3,
.im4 {
    width: 10px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-flex;
    width: 3vw;
    min-width: 3vw;
}

.im1 {
    margin-left: 42.5%;
}

.im2,
.im3,
.im4 {
    margin-left: 20px;
}
